[submodule "src/image_common"]
	path = src/image_common
	url = https://github.com/ros-perception/image_common.git
[submodule "src/ros2_v4l2_camera"]
	path = src/ros2_v4l2_camera
	url = https://gitlab.com/boldhearts/ros2_v4l2_camera.git
[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
